/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 220px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    color: #fafafa;
}
#sidebar .components{
    padding-top: 20px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    position: relative;
}
#sidebar ul li a:hover {
    background: #fafafa;
    color: #6d7fcc;
    border-radius: 8px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul .submenu1 .collapse1{
    top: 150px;
    background: #6d7fcc;
    display: none;
    position: absolute;
}
#sidebar ul .submenu1:hover .collapse1{
    left: 220px;
    width: 150px;
    background: #6d7fcc;
    display: block;
    border-radius: 8px;
}
.collapse1 .submenu11 ul{
    left: 150px;
    top: 0;
    background: #6d7fcc;
    display: none;
    position: absolute;
}
.collapse1 .submenu11:hover ul{
    width: max-content;
    display: block;
    border-radius: 8px;
}
.collapse1 .submenu12 ul{
    left: 150px;
    top: 45px;
    background: #6d7fcc;
    display: none;
    position: absolute;
}
.collapse1 .submenu12:hover ul{
    width: max-content;
    display: block;
    border-radius: 8px;
}
#sidebar ul .submenu2 .collapse1{
    top: 200px;
    background: #6d7fcc;
    display: none;
    position: absolute;
}
#sidebar ul .submenu2:hover .collapse1{
    left: 220px;
    width: 150px;
    background: #6d7fcc;
    display: block;
    border-radius: 8px;
}
.collapse1 .submenu21 ul{
    left: 150px;
    top: 0;
    background: #6d7fcc;
    display: none;
    position: absolute;
}
.collapse1 .submenu21:hover ul{
    width: max-content;
    display: block;
    border-radius: 8px;
}
.collapse1 .submenu22 ul{
    left: 150px;
    top: 45px;
    background: #6d7fcc;
    display: none;
    position: absolute;
}
.collapse1 .submenu22:hover ul{
    width: max-content;
    display: block;
    border-radius: 8px;
}
#sidebar ul .submenu3 .collapse2{
    top: 240px;
    background: #6d7fcc;
    display: none;
    position: absolute;
}
#sidebar ul .submenu3:hover .collapse2{
    left: 220px;
    width: 150px;
    background: #6d7fcc;
    display: block;
    border-radius: 8px;
}
.collapse2 .submenu31 ul{
    left: 150px;
    top: 0;
    background: #6d7fcc;
    display: none;
    position: absolute;
}
.collapse2 .submenu31:hover ul{
    width: max-content;
    display: block;
    border-radius: 8px;
}
.collapse2 .submenu32 ul{
    left: 150px;
    top: 45px;
    background: #6d7fcc;
    display: none;
    position: absolute;
}
.collapse2 .submenu32:hover ul{
    width: max-content;
    display: block;
    border-radius: 8px;
}

  

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar .active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}